#carousel {
	margin: 0 auto;
	width: 700px;
	height: 400px;
	overflow: hidden;
	position: relative;
	border: 5px solid black;
}
#carousel ul {
	list-style-type: none;
	width: 3500px;
	-webkit-appearance: none;
	padding: 0;
}
#carousel li {
	float: none;
	display: inline-block;
}